@import '../../global.scss';

.intro {
  background-color: white;
  display: flex;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.5;
    overflow: hidden;
    .imageContainer {
      width: 700px;
      height: 700px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      float: right;

      @include mobile {
        align-items: flex-start;
        justify-content: center;
      }

      img {
        height: 90%;

        @include mobile {
          height: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.5;
    position: relative;
    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 60px;
        margin: 10px 0;

        @include mobile {
          font-size: 40px;
        }
      }
      h2 {
        font-size: 35px;
      }
      h3 {
        font-size: 30px;

        @include mobile {
          font-size: 20px;
        }

        span {
          font-size: inherit;
          color: crimson;
        }
        .ityped-cursor {
          font-size: 2.2rem;
          opacity: 1;
          -webkit-animation: blink 1s infinite;
          -moz-animation: blink 1s infinite;
          animation: blink 1s infinite;
          animation-direction: alternate;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }

          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      a {
        position: absolute;
        bottom: 10px;
        left: 40%;

        .arrowDownIcon {
          font-size: 60px;
          color: black;
        }
      }
    }
  }
}
