.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .svg {
    width: 300px;
    height: 300px;
    -webkit-animation: blink 2s infinite;
    -moz-animation: blink 2s infinite;
    animation: blink 2s infinite;
    animation-direction: alternate;
  }
  @keyframes blink {
    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.App {
  height: 100vh;
  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: rgb(138, 83, 83);
    position: relative;
    top: 70px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 70px);
      scroll-snap-align: y mandatory;
    }
  }
}
